<div class="row-fluid">
  <div class="carousel slide" id="civic_responsibility_carousel">
    <h2>Civic Responsibility<span>TOP 20</span></h2><br>
    <div class="carousel-inner">
       <div class="item active">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <% unless @civic_responsibility[0].nil? %>
              <% vid = Video.find(@civic_responsibility[0].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @civic_responsibility[1].nil? %>
              <% vid = Video.find(@civic_responsibility[1].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @civic_responsibility[2].nil? %>
              <% vid = Video.find(@civic_responsibility[2].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">        
              <% unless @civic_responsibility[3].nil? %>
              <% vid = Video.find(@civic_responsibility[3].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="item">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <% unless @civic_responsibility[4].nil? %>
              <% vid = Video.find(@civic_responsibility[4].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @civic_responsibility[5].nil? %>
              <% vid = Video.find(@civic_responsibility[5].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @civic_responsibility[6].nil? %>
              <% vid = Video.find(@civic_responsibility[6].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @civic_responsibility[7].nil? %>
              <% vid = Video.find(@civic_responsibility[7].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="item">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <% unless @civic_responsibility[8].nil? %>
              <% vid = Video.find(@civic_responsibility[8].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @civic_responsibility[9].nil? %>
              <% vid = Video.find(@civic_responsibility[9].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @civic_responsibility[10].nil? %>
              <% vid = Video.find(@civic_responsibility[10].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @civic_responsibility[11].nil? %>
              <% vid = Video.find(@civic_responsibility[11].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="item">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <% unless @civic_responsibility[12].nil? %>
              <% vid = Video.find(@civic_responsibility[12].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @civic_responsibility[13].nil? %>
              <% vid = Video.find(@civic_responsibility[13].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @civic_responsibility[14].nil? %>
              <% vid = Video.find(@civic_responsibility[14].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @civic_responsibility[15].nil? %>
              <% vid = Video.find(@civic_responsibility[15].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="item">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <% unless @civic_responsibility[16].nil? %>
              <% vid = Video.find(@civic_responsibility[16].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @civic_responsibility[17].nil? %>
              <% vid = Video.find(@civic_responsibility[17].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @civic_responsibility[18].nil? %>
              <% vid = Video.find(@civic_responsibility[18].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @civic_responsibility[19].nil? %>
              <% vid = Video.find(@civic_responsibility[19].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <a data-slide="prev" href="#civic_responsibility_carousel" class="left carousel-control"><img src="../assets/left-arrow.png"></a>
    <a data-slide="next" href="#civic_responsibility_carousel" class="right carousel-control"><img src="../assets/right-arrow.png"></a>
  </div>
</div>
