<div class="row-fluid">
  <div class="carousel slide" id="immediacy_carousel">
    <h2>Immediacy<span>TOP 20</span></h2><br>
    <div class="carousel-inner">
       <div class="item active">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <% unless @immediacy[0].nil? %>
              <% vid = Video.find(@immediacy[0].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @immediacy[1].nil? %>
              <% vid = Video.find(@immediacy[1].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @immediacy[2].nil? %>
              <% vid = Video.find(@immediacy[2].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">        
              <% unless @immediacy[3].nil? %>
              <% vid = Video.find(@immediacy[3].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="item">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <% unless @immediacy[4].nil? %>
              <% vid = Video.find(@immediacy[4].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @immediacy[5].nil? %>
              <% vid = Video.find(@immediacy[5].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @immediacy[6].nil? %>
              <% vid = Video.find(@immediacy[6].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @immediacy[7].nil? %>
              <% vid = Video.find(@immediacy[7].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="item">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <% unless @immediacy[8].nil? %>
              <% vid = Video.find(@immediacy[8].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @immediacy[9].nil? %>
              <% vid = Video.find(@immediacy[9].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @immediacy[10].nil? %>
              <% vid = Video.find(@immediacy[10].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @immediacy[11].nil? %>
              <% vid = Video.find(@immediacy[11].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="item">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <% unless @immediacy[12].nil? %>
              <% vid = Video.find(@immediacy[12].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @immediacy[13].nil? %>
              <% vid = Video.find(@immediacy[13].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @immediacy[14].nil? %>
              <% vid = Video.find(@immediacy[14].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @immediacy[15].nil? %>
              <% vid = Video.find(@immediacy[15].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="item">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <% unless @immediacy[16].nil? %>
              <% vid = Video.find(@immediacy[16].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @immediacy[17].nil? %>
              <% vid = Video.find(@immediacy[17].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @immediacy[18].nil? %>
              <% vid = Video.find(@immediacy[18].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @immediacy[19].nil? %>
              <% vid = Video.find(@immediacy[19].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <a data-slide="prev" href="#immediacy_carousel" class="left carousel-control"><img src="../assets/left-arrow.png"></a>
    <a data-slide="next" href="#immediacy_carousel" class="right carousel-control"><img src="../assets/right-arrow.png"></a>
  </div>
</div>
