<div class="row-fluid">
  <div class="carousel slide" id="production_quality_carousel">
    <h2>Production Quality<span>TOP 20</span></h2><br>
    <div class="carousel-inner">
       <div class="item active">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <% unless @production_quality[0].nil? %>
              <% vid = Video.find(@production_quality[0].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @production_quality[1].nil? %>
              <% vid = Video.find(@production_quality[1].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @production_quality[2].nil? %>
              <% vid = Video.find(@production_quality[2].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">        
              <% unless @production_quality[3].nil? %>
              <% vid = Video.find(@production_quality[3].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="item">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <% unless @production_quality[4].nil? %>
              <% vid = Video.find(@production_quality[4].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @production_quality[5].nil? %>
              <% vid = Video.find(@production_quality[5].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @production_quality[6].nil? %>
              <% vid = Video.find(@production_quality[6].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @production_quality[7].nil? %>
              <% vid = Video.find(@production_quality[7].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="item">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <% unless @production_quality[8].nil? %>
              <% vid = Video.find(@production_quality[8].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @production_quality[9].nil? %>
              <% vid = Video.find(@production_quality[9].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @production_quality[10].nil? %>
              <% vid = Video.find(@production_quality[10].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @production_quality[11].nil? %>
              <% vid = Video.find(@production_quality[11].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="item">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <% unless @production_quality[12].nil? %>
              <% vid = Video.find(@production_quality[12].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @production_quality[13].nil? %>
              <% vid = Video.find(@production_quality[13].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @production_quality[14].nil? %>
              <% vid = Video.find(@production_quality[14].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @production_quality[15].nil? %>
              <% vid = Video.find(@production_quality[15].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="item">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <% unless @production_quality[16].nil? %>
              <% vid = Video.find(@production_quality[16].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @production_quality[17].nil? %>
              <% vid = Video.find(@production_quality[17].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @production_quality[18].nil? %>
              <% vid = Video.find(@production_quality[18].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @production_quality[19].nil? %>
              <% vid = Video.find(@production_quality[19].video_id) %>
              <%= link_to image_tag(vid.thumbnail), video_path(vid) %>
            </div>
            <div class="caption"><%= link_to (truncate(vid.title, length: 50)), video_path(vid) %></div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <a data-slide="prev" href="#production_quality_carousel" class="left carousel-control"><img src="../assets/left-arrow.png"></a>
    <a data-slide="next" href="#production_quality_carousel" class="right carousel-control"><img src="../assets/right-arrow.png"></a>
  </div>
</div>
