<div class="container">

  <div><%=@cookie %></div>

  <div class="feature-home-container">
    <% if flash[:alert] %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <h2><%= @feature.title %></h2>

    <div class="vid-link">
        <%= render "shared/player", video: @feature, autoplay: false %>
    </div>
  </div>

  <%= render 'videos/form' %>

  <div class="carousel-footer">

      <% @categories.each_with_index do |category, index| %>
        <%= render 'category_carousel', category: category, category_videos: @category_videos[category.id] %>
      <% end %>

  </div>

</div>