<div class="container">

  <div class="feature-home-container">
    <% if flash[:alert] %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <h2><%= @feature.title %></h2>

    <div class="vid-link">
        <%= render "shared/player", video: @feature %>
    </div>
  </div>

  <%= render 'videos/form' %>

  <div class="carousel-footer">
    <%= render 'production_quality_carousel' %>
    <%= render 'radical_creativity_carousel' %>
    <%= render 'communal_effort_carousel' %>
    <%= render 'radical_inclusivity_carousel' %>
    <%= render 'civic_responsibility_carousel' %>
    <%= render 'immediacy_carousel' %>
  </div>

</div>