<div class="row-fluid">
    <div class="carousel slide" id="show_page_carousel">
    <h2>More Videos</h2><br>
    <div class="carousel-inner">

      <div class="item active">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <% unless @small_vids[0].nil? %>
              <%= link_to image_tag(@small_vids[0].thumbnail_link), video_path(@small_vids[0]) %>
            </div>
            <div class="caption"><%= link_to (truncate(@small_vids[0].title, length: 50)), video_path(@small_vids[0]) %></div>
              <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @small_vids[1].nil? %>
             <%= link_to image_tag(@small_vids[1].thumbnail_link), video_path(@small_vids[1]) %>
            </div>
            <div class="caption"><%= link_to (truncate(@small_vids[1].title, length: 50)), video_path(@small_vids[1]) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @small_vids[2].nil? %>
              <%= link_to image_tag(@small_vids[2].thumbnail_link), video_path(@small_vids[2]) %>
            </div>
            <div class="caption"><%= link_to (truncate(@small_vids[2].title, length: 50)), video_path(@small_vids[2]) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @small_vids[3].nil? %>
              <%= link_to image_tag(@small_vids[3].thumbnail_link), video_path(@small_vids[3]) %>
            </div>
            <div class="caption"><%= link_to (truncate(@small_vids[3].title, length: 50)), video_path(@small_vids[3]) %></div>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="item">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <% unless @small_vids[4].nil? %>
              <%= link_to image_tag(@small_vids[4].thumbnail_link), video_path(@small_vids[4]) %>
            </div>
            <div class="caption"><%= link_to (truncate(@small_vids[4].title, length: 50)), video_path(@small_vids[4]) %></div>
            <% end %>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <% unless @small_vids[5].nil? %>
              <%= link_to image_tag(@small_vids[5].thumbnail_link), video_path(@small_vids[5]) %>
            </div>
            <div class="caption"><%= link_to (truncate(@small_vids[5].title, length: 50)), video_path(@small_vids[5]) %></div>
            <% end %>
            </li>
            <li class="span3">
              <div class="thumbnail">
                <% unless @small_vids[6].nil? %>
                <%= link_to image_tag(@small_vids[6].thumbnail_link), video_path(@small_vids[6]) %>
              </div>
              <div class="caption"><%= link_to (truncate(@small_vids[6].title, length: 50)), video_path(@small_vids[6]) %></div>
              <% end %>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <% unless @small_vids[7].nil? %>
                  <%= link_to image_tag(@small_vids[7].thumbnail_link), video_path(@small_vids[7]) %>
                </div>
                <div class="caption"><%= link_to (truncate(@small_vids[7].title, length: 50)), video_path(@small_vids[7]) %></div>
                <% end %>
                </li>
              </ul>
            </div>

            <div class="item">
            <ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail">
                  <% unless @small_vids[8].nil? %>
                  <%= link_to image_tag(@small_vids[8].thumbnail_link), video_path(@small_vids[8]) %>
                </div>
                <div class="caption"><%= link_to (truncate(@small_vids[8].title, length: 50)), video_path(@small_vids[8]) %></div>
                <% end %>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <% unless @small_vids[9].nil? %>
                  <%= link_to image_tag(@small_vids[9].thumbnail_link), video_path(@small_vids[9]) %>
                </div>
                <div class="caption"><%= link_to (truncate(@small_vids[9].title, length: 50)), video_path(@small_vids[9]) %></div>
                <% end %>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <% unless @small_vids[10].nil? %>
                  <%= link_to image_tag(@small_vids[10].thumbnail_link), video_path(@small_vids[10]) %>
                </div>
                <div class="caption"><%= link_to (truncate(@small_vids[10].title, length: 50)), video_path(@small_vids[10]) %></div>
                <% end %>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <% unless @small_vids[11].nil? %>
                  <%= link_to image_tag(@small_vids[11].thumbnail_link), video_path(@small_vids[11]) %>
                </div>
                <div class="caption"><%= link_to (truncate(@small_vids[11].title, length: 50)), video_path(@small_vids[11]) %></div>
                <% end %>
                </li>
              </ul>
            </div>

            <div class="item">
            <ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail">
                  <% unless @small_vids[12].nil? %>
                  <%= link_to image_tag(@small_vids[12].thumbnail_link), video_path(@small_vids[12]) %>
                </div>
                <div class="caption"><%= link_to (truncate(@small_vids[12].title, length: 50)), video_path(@small_vids[12]) %></div>
                <% end %>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <% unless @small_vids[13].nil? %>
                  <%= link_to image_tag(@small_vids[13].thumbnail_link), video_path(@small_vids[13]) %>
                </div>
                <div class="caption"><%= link_to (truncate(@small_vids[13].title, length: 50)), video_path(@small_vids[13]) %></div>
                <% end %>
                </li>
              <li class="span3">
                <div class="thumbnail">
                  <% unless @small_vids[14].nil? %>
                  <%= link_to image_tag(@small_vids[14].thumbnail_link), video_path(@small_vids[14]) %>
                </div>
                <div class="caption"><%= link_to (truncate(@small_vids[14].title, length: 50)), video_path(@small_vids[14]) %></div>
                <% end %>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <% unless @small_vids[15].nil? %>
                  <%= link_to image_tag(@small_vids[15].thumbnail_link), video_path(@small_vids[15]) %>
                </div>
                <div class="caption"><%= link_to (truncate(@small_vids[15].title, length: 50)), video_path(@small_vids[15]) %></div>
                <% end %>
                </li>
              </ul>
            </div>

            <div class="item">
            <ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail">
                  <% unless @small_vids[16].nil? %>
                  <%= link_to image_tag(@small_vids[16].thumbnail_link), video_path(@small_vids[16]) %>
                </div>
                <div class="caption"><%= link_to (truncate(@small_vids[16].title, length: 50)), video_path(@small_vids[16]) %></div>
                <% end %>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <% unless @small_vids[17].nil? %>
                  <%= link_to image_tag(@small_vids[17].thumbnail_link), video_path(@small_vids[17]) %>
                </div>
                <div class="caption"><%= link_to (truncate(@small_vids[17].title, length: 50)), video_path(@small_vids[17]) %></div>
                <% end %>
                </li>
              <li class="span3">
                <div class="thumbnail">
                  <% unless @small_vids[18].nil? %>
                  <%= link_to image_tag(@small_vids[18].thumbnail_link), video_path(@small_vids[18]) %>
                </div>
                <div class="caption"><%= link_to (truncate(@small_vids[18].title, length: 50)), video_path(@small_vids[18]) %></div>
                <% end %>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <% unless @small_vids[19].nil? %>
                  <%= link_to image_tag(@small_vids[19].thumbnail_link), video_path(@small_vids[19]) %>
                </div>
                <div class="caption"><%= link_to (truncate(@small_vids[19].title, length: 50)), video_path(@small_vids[19]) %></div>
                <% end %>
                </li>
              </ul>
            </div>

          </div>
          <a data-slide="prev" href="#show_page_carousel" class="left carousel-control"><img src="../assets/left-arrow.png"></a>
          <a data-slide="next" href="#show_page_carousel" class="right carousel-control"><img src="../assets/right-arrow.png"></a>
        </div>
      </div>