<div class="container">
  <div class="inner-container main-video">  
    <h1><%= @show_video.title %>
      <% if current_user && (@show_video.user_id == current_user.id || current_user.is_admin?)  %>
        <a href="#" class="edit-video">Edit Video</a>
      <% end %></h1>

    <div class="vid-link">

        <script type="text/javascript">
          function playerFinished() {

            $('.finished-popup .watch-again').click(function() {
               $(this).parent().parent().hide();
               $('#player').show();
                playerStart();
            });

            $('.finished-popup').width($('#player').width()).height($('#player').height());
            $('#player').hide();
            $('.finished-popup').show();

          }
        </script>

        <% if flash[:new] || params[:new] %>
            <% autoplay = false %>
        <% else %>
            <% autoplay = true %>
        <% end %>

        <%= render "shared/player", video: @show_video, autoplay: autoplay %>

        <div class="finished-popup">
            <form method="post" action="#">
                <h3>We'd love you to join our community!</h3>
                <p><input type="text" name="full-name" placeholder="Full name" value=""></p>
                <p><input type="text" name="email" placeholder="E-mail Address" value=""></p>
                <p><button>Register</button></p>
            </form>
            <div class="buttons">
                <button class="watch-again">Watch Video Again</button>
            </div>
        </div>


    </div>

    <div class="add-stars-box">

      <% if flash[:alert] %>
      <p class="notice"><%= notice %></p>
      <% end %>
      
      <div id="star-brand"><h2>Vote. Share. Change the World.</h2></div>
        <% @categories.each_with_index do |category, index| %>
          <div class="cat">
            <div tooltip="<%= category.description %>" class="tooltip<%=index+1 %>"><h5><%= category.name %></h5></div>
            <div class="stars stars<%=index+1 %>" data-avg="<%= @category_averages[category.id] %>" >
              <div class="starbox">
                <div class="colorBoxAverage"></div>
                <div class="colorBoxInteraction"></div>
                <ul>
                    <% 1.upto(5) do |i| %>
                      <li class="star"><%= link_to image_tag("../assets/bigger-star-from-Jeff.png"), add_rating_path(@rating, num_stars: i, video_id: @show_video.id, category_id: category.id), data: {:name => category.name, :rating => i, :rated => Rating.previous_rating_found?(@show_video.id, category.id, request.remote_ip) } %></li>
                    <% end %>
                </ul>
              </div>
          </div>
        </div>
      <% end %>
     </div>

     <div class="full-share" id="fb-image"><%=link_to image_tag('../assets/Facebook_share_button.png') %></div>
     <div class="description">
         <p><a href="<%=profile_path(@show_video.user.profile) %>"><% if @show_video.user.uid != '' %>
               <img alt="" title="" src="https://graph.facebook.com/<%= @show_video.user.uid %>/picture?type=square" />
               <% end %>
             <%=@show_video.user.name %></a></p>
         <p><%= @show_video.description %></p>
         <% if @show_video.tag_list.count != 0 %>
         <div class="tags">
             Tags: <%= raw @show_video.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
         </div>
         <% end %>
     </div>


    <div class="share">
      
     <script type="text/javascript">
     $(document).ready(function(){
      $('.full-share').click(function(e){
        e.preventDefault();
        FB.ui(
        {
          method: 'feed',
          name: '<%= @show_video.title %>',
          link: 'http://imaginal.media/videos/<%= @show_video.id %>',
          picture: '<%= @show_video.facebook_thumbnail %>',
          description: '<%= @show_video.description %>',
          message: ''
        });
      });
    });
     </script>
   
   </div>
 </div>

 <div id="alert"></div>
 <div class="clearfix"></div>
</div>

 <div id="facebook-popup">
  <%= link_to image_tag("../assets/x-mark.jpg", :class => "close-popup") %>
  <div class="fb-like-box" data-href="https://www.facebook.com/FacebookDevelopers" data-width="300" data-height="300" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
</div>

<div class="facebook-comments">
    <div class="fb-comments" data-href="http://imaginal.media/videos/<%= @show_video.id %>" data-width="900" data-numposts="5" data-colorscheme="dark"></div>
</div>

<%= render 'form' %>

<div class="carousel-footer">
  <%= render 'show_page_carousel' %>  
</div>

