<div class="navbar">
  <div class="inner-nav">
    <ul>
      <li class="nav-left logo"><%= link_to image_tag("logo.png"), root_path %></li>
      <% if user_signed_in? %>
        <li class="to-sub-vid-modal"><a href="<%= new_video_path %>"></a></li>
        <li class="nav-right"><%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete %></li>
        <li class="nav-right"><%= link_to "ALL VIDEOS", videos_path %></li>
        <li class="nav-right"><%= link_to "MY VIDEOS", profile_path(current_user.profile.id) %></li>
      <% else %>
      <li class="get-signed-in"><a href="<%= new_user_session_path %>"></a></li>
        <li class="nav-right"><%= link_to "SIGN UP", new_user_registration_path %></li>
        <li class="nav-right"><%= link_to "LOG IN", new_user_session_path %></li>
        <li class="nav-right"><%= link_to "ALL VIDEOS", videos_path %></li>
      <% end %>
    </ul>
 </div>
</div>  







