<div class="add-vids-container">
  <% if @videos.count != 0  %>

    <ul>
      <% @videos.each do |video| %>
        <li>
          <div class="images">
            <%= link_to video_path(video) do %>
              <%=image_tag(video.thumbnail) %>
              <span><%=truncate(video.title, length: 50) %></span>
            <% end %>
          </div>

          <div class="average-rating">
            <span>Imaginality: </span>
            <ul title="Imaginality rating: <%=video.average_rating %>">
              <% 1.upto(5) do |i| %>
                <% if i <= video.average_rating %>
                  <li class="star active"><%= image_tag("../assets/bigger-star-from-Jeff.png")%></li>
                <% else %>
                  <li class="star"><%= image_tag("../assets/bigger-star-from-Jeff.png")%></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="none-found"><p>No videos found</p></div>
  <% end %>
</div>

<%= paginate @videos %>
