<!DOCTYPE html>
<html>
<head>

  <meta property="fb:app_id" content="486457148162945"/>
  <meta property="og:title" content="Imaginal"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://www.imaginal.herokuapp.com"/>
  <meta property="og:image" content="http://ryan_with_twitter/app/assets/images/128x128.png"/>
  <meta property="og:description" content="At Imaginal we recognize that the media we consume shapes the way that we think.  And we recognize that the heroes we idolize influence the that choices we make.  And we recognize, that we are free to choose our media, and to choose our heroes. Imaginal is a way to curate the internet.  Together find and celebrate the art that we know will lead our hearts and minds in the direction they must go to create the world we know is possible. And you are the curator.  It is your mission.  You're the hero.  And you find and share the content that will make this world a better place."/>

  <!--   <link rel="image_src" href="http://URL-TO-YOUR-IMAGE" / >   -->
  <link rel="shortcut icon" type="image/x-con" href="assets/favicon.ico"/>

  <title>Imaginal</title>

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'/>

  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <%= render "shared/top_nav" %>
  <div id="nav-border"></div>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=486457148162945&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <%= yield %>

</body>
</html>
